*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    height: 800px;
    width: 1390px;
}
.container img{
    height: 800px;
    width: 1390px;
}
.container img{
    height: 800px;
    width: 1390px;
}
.container img{
    height: 800px;
    width: 1390px;
}